apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  timezone: {{ .Values.app.timezone | default "Europe/Zurich" | quote }}
  databaseHost: {{ .Values.database.host }}
  databaseName: {{ .Values.database.name }}
  databasePort: {{ .Values.database.port | default "5432" | quote }}
  s3Endpoint: {{ .Values.s3.endpoint }}
  s3Bucket: {{ .Values.s3.bucket }}
  s3PhotosBucket: {{ .Values.s3.photosBucket }}
  s3LogFilesBucket: {{ .Values.s3.logFilesBucket }}
  s3Secure: {{ .Values.s3.secure | default "1" | quote }}
  authAuthority: {{ .Values.auth.authority | quote }}
  authAudience: {{ .Values.auth.audience | quote }}
  authScopes: {{ .Values.auth.scopes | default "openid profile email" | quote }}
  authGroupClaimType: {{ .Values.auth.groupClaimType | default "cognito:groups" | quote }}
  authAuthorizedGroupName: {{ .Values.auth.authorizedGroupName | default "boreholes.swissgeol" | quote }}
  authAnonymousModeEnabled: {{ .Values.auth.anonymousModeEnabled | default "false" | quote }}
  legacyApiAddress: "http://{{ .Release.Name }}-api-legacy.{{ .Release.Namespace }}.svc.cluster.local"
  dataExtractionApiAddress: "http://{{ .Release.Name }}-dataextraction-api.{{ .Release.Namespace }}.svc.cluster.local"
  ocrApiAddress: "http://{{ .Release.Name }}-ocr-api.{{ .Release.Namespace }}.svc.cluster.local"
  ocrConfidenceThreshold: {{ .Values.ocr.confidenceThreshold | default "0.45" | quote }}
  ocrUseAggressiveStrategy: {{ .Values.ocr.useAggressiveStrategy | default "true" | quote }}
  ocrSkipProcessing: {{ .Values.ocr.skipProcessing | default "false" | quote }}
  googleAnalyticsTrackingId: {{ .Values.googleAnalytics.trackingId | default "" | quote }}
