name: Chart Lint

on:
  pull_request:
    paths:
      - "charts/**"
      - "ct.yaml"
      - ".github/workflows/chart-lint.yml"
  push:
    branches:
      - main
    paths:
      - "charts/**"
      - "ct.yaml"
      - ".github/workflows/chart-lint.yml"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.1.0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Lint charts
        run: ct lint --config ct.yaml
