name: CI

on:
  push:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Build and run tests

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 8.0.x

      - name: Build solution
        run: dotnet build BDMS.sln -c Release /warnaserror

      - name: Start db and api's
        run: docker compose up --wait minio db api-legacy api dataextraction

      - name: Run dotnet tests
        run: dotnet test BDMS.sln -c Release --no-build --verbosity normal --filter TestCategory!=LongRunning --logger trx

      - name: Upload test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: dotnet-test-results
          path: ${{ github.workspace }}/**/TestResults/**/*

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
        if: always()
        with:
          files: "${{ github.workspace }}/**/*.trx"

      - name: Setup Node.js 22
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - working-directory: ./src/client
        run: npm ci

      - working-directory: ./src/client
        run: npm run lint

  cypress-tests:
    runs-on: ubuntu-latest
    name: Run cypress tests
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 8.0.x

      - name: Build solution
        run: dotnet build BDMS.sln -c Release /warnaserror

      - name: Start db and api's
        run: docker compose up --wait minio db api-legacy api oidc-server dataextraction

      - working-directory: ./src/client
        run: npm ci

      - name: Cypress run
        uses: cypress-io/github-action@84d178e4bbce871e23f2ffa3085898cde0e4f0ec # v7.1.2
        with:
          command: npx cypress run --record --parallel --key ${{ secrets.CYPRESS_RECORD_KEY }} --ci-build-id ${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}}
          build: npm run build
          start: npm start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          working-directory: ./src/client
        env:
          VITE_APP_VERSION: 0.0.99+dev
          TZ: Europe/Zurich
    env:
      # Pass the GitHub token lets this action correctly
      # determine the unique run id necessary to re-run the checks
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  view-sync:
    runs-on: ubuntu-latest
    name: Run view-sync

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup environment
        working-directory: src/view-sync
        run: docker compose -f docker-compose.services.yml up --build --wait

      - name: Run view-sync
        working-directory: src/view-sync
        run: docker compose -f docker-compose.yml up --build --exit-code-from view-sync

  extern-sync:
    runs-on: ubuntu-latest
    name: Run extern-sync

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup environment
        working-directory: src/extern-sync
        run: docker compose -f docker-compose.services.yml up --build --wait

      - name: Run extern-sync
        working-directory: src/extern-sync
        run: docker compose -f docker-compose.yml up extern-sync --build --exit-code-from extern-sync
