name: Release

on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      TAG_NAME:
        description: "Tag name"
        required: true

env:
  REGISTRY: ghcr.io
  TAG_NAME: ${{ github.event.inputs.TAG_NAME || github.event.release.tag_name }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  retag-docker-images:
    runs-on: ubuntu-latest
    name: Tag Docker images as latest

    steps:
      - name: Set environment variables
        run: |
          echo VERSION=${TAG_NAME#v} >> $GITHUB_ENV
          echo BASE_IMAGE_NAME=$REGISTRY/$(echo ${GITHUB_REPOSITORY,,}) >> $GITHUB_ENV

      - name: Log in to the GitHub container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull, tag and push Docker images
        run: |
          for image in api-legacy api client view-sync extern-sync; do
            docker pull ${BASE_IMAGE_NAME}-${image}:v${VERSION}
            docker tag ${BASE_IMAGE_NAME}-${image}:v${VERSION} ${BASE_IMAGE_NAME}-${image}:latest
            docker push ${BASE_IMAGE_NAME}-${image}:latest
          done

  patch-changelog:
    runs-on: ubuntu-latest
    name: Patch CHANGELOG.md and update GitHub release notes
    needs: retag-docker-images

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set environment variables
        run: |
          echo GIT_BRANCH_NAME=mark-version-${TAG_NAME#v}-as-released >> $GITHUB_ENV
          echo GIT_COMMIT_MESSAGE=Mark version ${TAG_NAME#v} as released >> $GITHUB_ENV
          echo RELEASE_ID=$(gh api -H "Accept: application/vnd.github+json" /repos/${GITHUB_REPOSITORY}/releases/tags/${TAG_NAME} | jq '.id') >> $GITHUB_ENV

      - name: Get changelog for this specific release and update release notes
        run: |
          gh api \
            --method PATCH \
            --header "Accept: application/vnd.github+json" \
            /repos/${GITHUB_REPOSITORY}/releases/${RELEASE_ID} \
            -f body="$(./get-changelog.sh)"

      - name: Checkout new branch and patch changelog
        run: |
          git checkout -b $GIT_BRANCH_NAME
          sed -i "/^\#\# \[Unreleased\]$/a \\\n\#\# $TAG_NAME - $(date '+%Y-%m-%d')" CHANGELOG.md

      - name: Commit, push and create pull request
        run: |
          git config --global user.email "office@geowerkstatt.ch"
          git config --global user.name "GeoWerkstatt-Build"
          git commit -am "$GIT_COMMIT_MESSAGE"
          git push --set-upstream origin $GIT_BRANCH_NAME
          gh pr create --title "$GIT_COMMIT_MESSAGE" --body ""
